#Configuration info
[Project Info]
    Project      = 23803

[OemCamSupportType]
    EnableOfflineFeatureList   = 0x8001; 0x8009; 0x8010; 0x8011; 0x8019; 0x8030; 0x80AC; 0x80B2;
    IsTurboRawFeatureTypeList  = 48; 49; 50; 51;
    IsPslBracketModeList       = 28; 29;

[OemCamSettings]
    addRDIBufferCnt     = 2;
    supportSnapshotUsePartial = TRUE;
    resetDNGBlackLevel  = TRUE;
    SetDefaultSeamlessModeToZero = TRUE;
    isNeedSetForwardPickTimestamp = TRUE;
    isNeedMmfMetaToFwk = TRUE

[OemSupportedCustomInfoSizes5]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8001,-1_32_3_0,4096X3072,-1_32_3_1,4096X3072,-1_32_3_2,4096X3072,-1_32_3_3,4096X3072,-1_32_3_4,4096X3072,-1_32_3_5,4096X3072:
    ImageSizes[1]  = 8019,-1_32_3_0,4096X3072,-1_32_3_1,4096X3072,-1_32_3_2,4096X3072,-1_32_3_3,4096X3072,-1_32_3_4,4096X3072,-1_32_3_5,4096X3072:
    ImageSizes[2]  = 8010,4_35_3,4096X3072,4_32_3,4096X3072,2_35_3,1728X1296,2_32_3,1728X1296:
    ImageSizes[3]  = 8030,2_35_3,4096X3072,2_32_3,4096X3072,3_35_3,1632X1224,3_32_3,1632X1224:
    ImageSizes[4]  = 8011,2_35_3,4096X3072,2_32_3,4096X3072,3_35_3,1632X1224,3_32_3,1632X1224

[OemSupportedCustomInfoSizes2]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8009,-1_32_3_0,4096X3072,-1_32_3_1,4096X3072,-1_32_3_2,4096X3072,-1_32_3_5,4096X3072,-1_32_3_6,4096X3072:
    ImageSizes[1]  = 80AA,-1_32_3,4096X3072,-1_35_3,4096X3072:
    ImageSizes[2]  = 8001,-1_32_3_0,4096X3072,-1_32_3_1,4096X2304X4096X3072,-1_32_3_2,3072X3072X4096X3072,-1_32_3_5,4096X1832X4096X3072

[OemCamOfflineCapacity]
    AiCameraMode = 0x0

[OemSupportedStreamFps]
    #                  captureMode   width    height    minFPS   maxFPS
    StreamFps[0]  =      0x8011;     1280;     960;       10;      24
    StreamFps[1]  =      0x8030;     1280;     960;       10;      24
    StreamFps[2]  =      0x8010;     1280;     960;       10;      24
    StreamFps[3]  =      0x8031;     1280;     960;       10;      24

[OemEnableIZoomModeList]
    #               captureMode   sensor_mask
    Mode[0]     =      0x8001;       0x0020;
    Mode[1]     =      0x8009;       0x0014;
    Mode[2]     =      0x8019;       0x0020;
    Mode[3]     =      0x8030;       0x0010;

[OemSupportedCustomRAWFullSizes]
    #               sensor_mask      width          height
    Size[0]    =    0x0004;          8192;          6144   #imx966 main
    Size[1]    =    0x0010;          8192;          6144   #imx890 tele

[OemCamSensorSettingMap]
# this is for config sensor setting mode of system camera PHOTO modes
# please follow below format to add customize parameters
    #operation mode  operation_mode        frameworkid_mask   feature_mask        index    #  feature mode   --  sensor    -- capability
    Mode[0]    =        0x8001;            0x0002;            0x0000;             1        #  front photo    --    f       -- binning
    Mode[1]    =        0x8009;            0x0020;            0x0000;             3        #  pro mode       --    t2      -- binning
    Mode[2]    =        0x80AC;            0x0020;            0x0000;             3        #  xpan mode      --    t2      -- binning
    Mode[3]    =        0x8011;            0x0008;            0x0004;             4        #  rear bokeh 1x  --    uw      -- binning+crop
    Mode[4]    =        0x8030;            0x0004;            0x0200;             31       #  rear bokeh 2x  --    w       -- binning
    Mode[5]    =        0x8030;            0x0004;            0x0004;             11       #  rear bokeh 2x  --    w       -- izoom
    Mode[6]    =        0x8030;            0x0008;            0x0004;             8       #  rear bokeh 2x  --    uw      -- binning+crop
    Mode[7]   =         0x8010;            0x0004;            0x0004;             13       #  rear bokeh 3x  --    w       -- binning+crop
    Mode[8]   =         0x8031;            0x0020;            0x0004;             7        #  rear bokeh 6x  --    t2      --  binning
    Mode[9]   =         0x8031;            0x0010;            0x0004;             13       #  rear bokeh 6x  --    t1      -- binning+crop
    Mode[10]   =        0x8001;            0x0002;            0x0010;             0        #  front photo    --    f       -- qcfa
    Mode[11]   =        0x8001;            0x002C;            0x0010;             0        #  rear HiRes     --  w/uw/t1/t2-- qcfa
    Mode[12]   =        0x8001;            0x002C;            0x0000;             1        #  rear HiRes     --  w/uw/t1/t2-- binning
    Mode[13]   =        0x8001;            0xFFFF;            0x0004;             1        #  rear sat photo --  w/uw/t1/t2-- binning
    Mode[14]   =        0x8001;            0x0020;            0x0004;             3        #  rear sat photo --    t2      -- binning
    Mode[15]   =        0x8001;            0x0020;            0x0080;             16       #  rear sat izoom --    t2      -- izoom
    Mode[16]   =        0x8001;            0x0010;            0x2000;             14       #  fast motion    --    t1      -- binning
    Mode[17]   =        0x8001;            0x0008;            0x2000;             13       #  fast motion    --    uw      -- binning
    Mode[18]   =        0x8001;            0x0004;            0x2000;             23       #  fast motion    --    w       -- binning
    Mode[19]   =        0x8001;            0x0020;            0x2000;             13       #  fast motion    --    t2      -- binning
    Mode[20]   =        0x8019;            0x0038;            0x0004;             1        #  rear sat night --  uw/t1/t2-- binning
    Mode[21]   =        0x80B2;            0xFFFF;            0x0000;             1        #  AI ID Photo    --  w/f       -- binning
    Mode[22]   =        0x8001;            0x0020;            0x0081;             2        #  rear sat izoom --    t2      -- izoom sfe
    Mode[23]   =        0x8019;            0x0020;            0x0081;             2        #  rear sat night --    t2      -- izoom sfe
    Mode[24]   =        0x8019;            0x0020;            0x0080;             16       #  rear sat night --    t2      -- izoom
    Mode[25]   =        0x8019;            0x0020;            0x0004;             3        #  rear sat night --    t2      -- binning
    Mode[26]   =        0x8030;            0x0004;            0x0081;             29       #  rear bokeh 2x  --    w       -- qbc
    Mode[27]   =        0x8019;            0x0004;            0x0004;             1        #  rear sat night --    w       -- binning

[OemBindCore]
    isSupport = TRUE
    configBindCoreStart = 3
    configBindCoreEnd   = 7

[OemDoBoostPool]
    isEnable = TRUE

[PinFiles]
    so[0]=/vendor/lib64/hw/camera.qcom.so
    so[1]=/vendor/lib64/hw/com.qti.chi.override.so
    so[2]=/vendor/lib64/hw/android.hardware.graphics.mapper@4.0-impl-qti-display.so
    so[3]=/vendor/lib64/libthermalclient.so
    so[4]=/vendor/lib64/com.qti.feature2.gs.sm8650.so
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so
    so[6]=/vendor/lib64/com.qti.feature2.demux.so
    so[7]=/vendor/lib64/com.qti.feature2.derivedoffline.so
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so
    so[9]=/vendor/lib64/com.qti.feature2.generic.so
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so
    so[11]=/vendor/lib64/com.qti.feature2.mcreprocrt.so
    so[12]=/vendor/lib64/com.qti.feature2.memcpy.so
    so[13]=/vendor/lib64/com.qti.feature2.mfsr.so
    so[14]=/vendor/lib64/com.qti.feature2.ml.so
    so[15]=/vendor/lib64/com.qti.feature2.mux.so
    so[16]=/vendor/lib64/com.qti.feature2.qcfa.so
    so[17]=/vendor/lib64/com.qti.feature2.rawhdr.so
    so[18]=/vendor/lib64/com.qti.feature2.realtimeserializer.so
    so[19]=/vendor/lib64/com.qti.feature2.rt.so
    so[20]=/vendor/lib64/com.qti.feature2.rtmcx.so
    so[21]=/vendor/lib64/com.qti.feature2.serializer.so
    so[22]=/vendor/lib64/com.qti.feature2.statsregeneration.so
    so[23]=/vendor/lib64/com.qti.feature2.stub.so
    so[24]=/vendor/lib64/com.qti.feature2.swmf.so
    so[25]=/vendor/lib64/egl/eglSubDriverAndroid.so
    so[26]=/odm/lib64/lib2DSlender.so
    so[27]=/odm/lib64/libextensionlayer.so
    so[28]=/odm/lib64/libFaceBeautyJni.so
    so[29]=/vendor/lib64/libCB.so
    so[30]=/vendor/lib64/libCS.so
    so[31]=/odm/lib64/libSNPE.so

[CTPLevel]
                       #operation_mode     #width      #height       #level
    Mode[0]    =       0x8021;              0;           0;             0
    Mode[1]    =       0x8028;              0;           0;             0

[FilterSnapshotTag]
                     #section_name                                              tag_name
    tag[0]       =   org.quic.camera.eislookahead;                              DISMVStats
    tag[1]       =   org.quic.camera.ifegtminfo;                                IFEGTMInfo
    tag[2]       =   org.codeaurora.qcamera3.awbbg;                             stats
    tag[3]       =   org.codeaurora.qcamera3.aecbhist;                          stats
    tag[4]       =   org.codeaurora.qcamera3.aecbe;                             stats
    tag[5]       =   org.codeaurora.qcamera3.caf;                               stats
    tag[6]       =   org.codeaurora.qcamera3.rs;                                stats
    tag[7]       =   org.codeaurora.qcamera3.bfw;                               stats
    tag[8]       =   org.codeaurora.qcamera3.ihist;                             stats

#[FPSController]
#                       #operation_mode     #CaptureWaitTime      #PiplineDelay       #TarGetFPS
#    Mode[0]    =       0x8001;              800;                  200;                  15
#    Mode[1]    =       0x8011;              800;                  300;                  15
#    Mode[2]    =       0x8030;              800;                  300;                  15
#    Mode[3]    =       0x8010;              800;                  300;                  15

[PreOpenCamera]
    isSupportPreOpenCamera = TRUE
    IsEnableConfigorms = TRUE
    IsEnablePreloadRes = TRUE

[OemEnableTouchCapture]
                         #operation_mode      featuretype
    Mode[0]     =          0x8001;               48;

[ReportErrPreviewForSnapshot]
    PreviewRange = 0.6; 6.0

[OemIsNeedRetryZSLPSL]
                         #operation_mode      cameraid
    Mode[0]     =          0x8001;               1;

#frameworkId order as {uw,wide,tele}
 [CamIndexToFrameworkIdMap]
    frameworkIds = 3;2

[Preloadso]
    so[0]=/vendor/lib64/camera/components/com.qti.stats.haf.so
    so[1]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so
    so[2]=/vendor/lib64/libipebpsstriping.so
    so[3]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so
    so[4]=/vendor/lib64/com.qualcomm.mcx.policy.mfl.so
    so[5]=/vendor/lib64/libcamxexternalformatutils.so
    so[6]=/odm/lib64/libcvface_api.so
    so[7]=/vendor/lib64/com.qualcomm.mcx.distortionmapper.so
    so[8]=/vendor/lib64/com.qualcomm.mcx.linearmapper.so
    so[9]=/odm/lib64/libaisal.so
    so[10]=/odm/lib64/libSNPE.so
    so[11]=/odm/lib64/libCipo_awb.so
    so[12]=/odm/lib64/libAF.so
    so[13]=/odm/lib64/libCS.so
    so[14]=/odm/lib64/libAlgoInterface.so
    so[15]=/vendor/lib64/libllvm-qcom.so
    so[16]=/vendor/lib64/libcamxcommonutils.so
    so[17]=/vendor/lib64/camera/components/com.qti.eisv3.so
    so[18]=/vendor/lib64/libOpenCL_adreno.so
    so[19]=/vendor/lib64/libOpenCL.so